packages:
  yum:
    git: ""

container_commands:
    01-init:
        command: bash .ebextensions/script/init

    02-nginx:
        command: bash .ebextensions/script/nginx

    03-redis:
        command: bash .ebextensions/script/redis

    10-app-myapp:
        command: runuser -l ec2-user -c "bash /var/app/current/.ebextensions/script/app myapp"
