<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
    {% module Static(
        '/css/dp.css',
        '/js/dp.js',
        '/js/dp.ui.js',
        '/js/dp.helper.js',
        '/js/dp.test.js', dp=True, init=True) %}
</head>
<body>
    <input type="text" dp-on-return="dp.test.ui.element.input.delegate.on_return" dp-on-focus="dp.test.ui.element.input.delegate.on_focus" id="input-test" />

    <form id="req-test-case-1" method="post" action="/tests/view/static/js_lib" dp-req-res-type="json" dp-req-prefixize="yes">
    <!--
    <form id="req-test-case-1" method="post" action="{{ prefixize('/tests/view/static/js_lib') }}" dp-req-res-type="json" dp-req-prefixize="no">
    -->
        <input type="checkbox" name="chk" value="ok" dp-req-type="checkbox" dp-req-required="yes" dp-req-focus="true" dp-req-missing="The `chk` field is required." checked />
        <input type="hidden" name="email" value="john@email.com" dp-req-type="email" dp-req-required="yes" dp-req-focus="true" dp-req-missing="The `email` field is required." dp-req-invalid="The specified `email` field is invalid." />
        <input type="hidden" name="name" value="john mayer" dp-req-type="text" dp-req-required="yes" dp-req-length="7,12" dp-req-missing="The `name` field is required." dp-req-invalid="The specified `name` field is invalid." />
        <input type="hidden" name="homepage" value="http://www.google.com" dp-req-type="text" dp-req-required="no" dp-req-missing="The `homepage` field is required." dp-req-invalid="The specified `homepage` field is invalid." />
        <input type="hidden" name="password" value="password" dp-req-type="text" dp-req-required="yes" dp-req-missing="The `password` field is required." dp-req-invalid="The specified `password` field is invalid." />
        <input type="hidden" name="bio" value="" dp-req-type="text" dp-req-required="no" dp-req-missing="The `email` field is required." dp-req-invalid="The specified `email` field is invalid." />
        <button type="button" dp-req-type="button" dp-req-fade="yes" dp-req-multiple="no" dp-req-identifier="req-test-case-1" dp-req-confirm="Are you sure?" onclick="dp.req(_el('#req-test-case-1'));">Submit [CASE 1]</button>
    </form>
</body>
</html>